<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UCSDAthletics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CE6BD711E0B59F1000D0CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CE6BD8A1E0B59F2000D0CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CE6BD951E0B59F2000D0CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
